---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Code ZB">
	<div class="relative py-20 sm:pb-24 sm:pt-36">
	<div class="absolute inset-0 overflow-hidden bg-indigo-50 -bottom-14 -top-36">
		<div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
		<div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
	</div>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
		<div class="mx-auto max-w-2xl lg:max-w-4xl lg:px-12">
			<h1 class="font-display text-2xl tracking-tighter text-blue-600 sm:text-3xl">
				<span class="font-bold">Code ZB: </span>Innovating the Future
			</h1>
			<div class="mt-6 space-y-6 font-display text-2xl italic tracking-tight text-blue-900">
				<p>
					Expert consulting in high-performance web and mobile applications, AI, and Robotics. We
					turn your vision into cutting-edge digital solutions, delivering unmatched performance and
					innovation. <br /><br />Let’s build the future together.
					<a class="text-indigo-500 hover:text-indigo-800" href="mailto:shankardevy@codezb.com"
						>Contact us</a
					>.
				</p>
			</div>
		</div>
	</div>
</div>

</Layout>

<style>
	
</style>
